@using Orchard.Projections.Models
@using Lombiq.DataTables.Constants
@using Lombiq.DataTables.Models

@{
    Script.Require(ResourceNames.Lombiq_DataTables).AtHead();
    Style.Require(ResourceNames.Lombiq_DataTables);

    var projectionPart = Model.ContentPart as ProjectionPart;
    var pageSize = (int?)Model.PageSize;
    if (!pageSize.HasValue)
    {
        // Let's assume that the layout is for a ProjectionPage. If not then get the page size from site settings.
        pageSize = projectionPart != null ?
            projectionPart.Record.Items :
            WorkContext.Resolve<Orchard.Settings.ISiteService>().GetSiteSettings().PageSize;
    }

    var skip = (int?)Model.Skip;
    if (!skip.HasValue)
    {
        skip = projectionPart != null ? projectionPart.Record.Skip : 0;
    }

    var queryId = (int)Model.QueryId;
    var columns = Model.Columns as IEnumerable<DataTableColumnDefinition>;
    var childRowsEnabled = (bool?)Model.ChildRowsEnabled ?? false;
    var progressiveLoadingEnabled = (bool?)Model.ProgressiveLoadingEnabled ?? false;
    var dataProvider = (string)Model.DataProvider ?? "";
    var dataTableId = (string)Model.DataTableId ?? ElementNames.DataTableElementName;
    var dataTableCssClasses = (string)Model.DataTableCssClasses ?? ElementNames.DataTableWrapperDefaultElementName;

    var rowApiUrl = Url.HttpRouteUrl("", new { Area = "Lombiq.DataTables", Controller = "DataTablesRow", Action = "Get" });
    var childRowApiUrl = Url.HttpRouteUrl("", new { Area = "Lombiq.DataTables", Controller = "DataTablesChildRow", Action = "Get" });

    const string LoadingIndicatorElementName = ElementNames.DataTableElementName + "__loadingIndicator";
    const string RowElementWithChildRowVisibleModifier = ElementNames.DataTableRowElementName + "_childRowVisible";
    const string ChildRowElementName = ElementNames.DataTableElementName + "__childRow";
    const string ToggleChildRowButtonElementName = ElementNames.DataTableElementName + "__toggleChildRowButton";
}

<div class="@dataTableCssClasses">
    @Display.Lombiq_DataTable_Table(
        DataTableId: dataTableId,
        Columns: columns,
        ChildRowsEnabled: childRowsEnabled)
</div>

@using (Script.Foot())
{
<script type="text/javascript">
        ; (function ($) {
            $(function () {
                $("#@dataTableId").lombiq_DataTables({
                    rowClassName: "@ElementNames.DataTableRowElementName",
                    queryId: @queryId,
                    dataProvider: "@dataProvider",
                    rowsApiUrl: "@rowApiUrl",
                    dataTablesOptions: {
                        @if (pageSize > 0)
                        {
                            <text>
                                pageLength: @pageSize,
                            </text>
                        }
                        language: {
                            processing: "<div class=\"@LoadingIndicatorElementName\">@T("Loading...")</div>"
                        }
                    },
                    serverSidePagingEnabled: @(progressiveLoadingEnabled ? "false" : "true"),
                    progressiveLoadingOptions: {
                        progressiveLoadingEnabled: @(progressiveLoadingEnabled ? "true" : "false"),
                        @if (progressiveLoadingEnabled)
                        {
                            <text>
                                skip: @skip,
                                batchSize: @pageSize
                            </text>
                        }
                    },
                    childRowOptions: {
                        childRowsEnabled: @(childRowsEnabled ? "true" : "false"),
                        @if (childRowsEnabled)
                        {
                            <text>
                                asyncLoading: true,
                                apiUrl: "@childRowApiUrl",
                                childRowClassName: "@ChildRowElementName",
                                toggleChildRowButtonClassName: "@ToggleChildRowButtonElementName",
                                childRowVisibleClassName: "@RowElementWithChildRowVisibleModifier",
                            </text>
                        }
                    }
                });
            });
        })(jQuery);
</script>
}