@{
    // TODO: Use DataTableDataViewModel.

    var columns = Model.Columns as IEnumerable<DataTableColumnDefinition> ?? Array.Empty<DataTableColumnDefinition>();
    var childRowsEnabled = (bool?)Model.ChildRowsEnabled ?? false;
    var rows = Model.Rows as IEnumerable<IEnumerable<string>>;
    var dataTableId = Model.DataTableId as string;

    const string headerElementName = ElementNames.DataTableElementName + "__header";
    const string headerRowElementName = ElementNames.DataTableElementName + "__headerRow";
    const string headerCellElementName = ElementNames.DataTableElementName + "__headerCell";
    const string bodyElementName = ElementNames.DataTableElementName + "__body";
    const string cellElementName = ElementNames.DataTableElementName + "__cell";
    const string toggleChildRowCellElementName = ElementNames.DataTableElementName + "__toggleChildRowCell";
}

@*
    "width=100%" is required to force the DataTables plugin to stretch the table.
    See: https://datatables.net/examples/basic_init/flexible_width.html
*@
<table id="@dataTableId" class="@ElementNames.DataTableElementName row-border stripe table data-table" width="100%">
    <thead class="@headerElementName">
        <tr class="@headerRowElementName">
            @if (childRowsEnabled)
            {
                <th class="@headerCellElementName" data-class-name="@toggleChildRowCellElementName"></th>
            }

            @foreach (var column in columns)
            {
                <th class="@headerCellElementName"
                    data-class-name="@cellElementName"
                    data-orderable="@Json.Serialize(column.Orderable)"
                    @if (!string.IsNullOrEmpty(column.Name))
                    {
                        <text>data-name="@column.Name" data-data="@column.Name"</text>
                    }>
                    @column.Text
                </th>
            }
        </tr>
    </thead>
    <tbody class="@bodyElementName">
        @if (rows != null)
        {
            foreach (var row in rows)
            {
                <tr class="@ElementNames.DataTableRowElementName">
                    @foreach (var cell in row)
                    {
                        <td class="@cellElementName">
                            @Html.Raw(cell)
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
