@using OrchardCore.ResourceManagement
@using System.Globalization

@inject IResourceManager ResourceManager

@{
    var viewModel = Model.ViewModel as DataTableDefinitionViewModel;

    var pageSize = viewModel?.PageSize ?? Site.PageSize;
    var skip = viewModel?.Skip ?? 0;

    var queryId = viewModel?.QueryId ?? "";
    var columnsDefinition = viewModel?.ColumnsDefinition;
    var columns = columnsDefinition?.Columns.ToList() ?? new List<DataTableColumnDefinition>();
    var childRowsEnabled = viewModel?.ChildRowsEnabled ?? false;
    var progressiveLoadingEnabled = viewModel?.ProgressiveLoadingEnabled ?? false;
    var queryStringParametersLocalStorageKey = viewModel?.QueryStringParametersLocalStorageKey ?? "";
    var dataProvider = viewModel?.DataProvider ?? "";
    var dataTableId = string.IsNullOrEmpty(viewModel?.DataTableId) ? ElementNames.DataTableElementName : viewModel.DataTableId;
    var dataTableCssClasses = string.IsNullOrEmpty(viewModel?.DataTableCssClasses) ? ElementNames.DataTableWrapperDefaultElementName : viewModel.DataTableCssClasses;

    var defaultSortingColumnIndex = Math.Max(
        0, Math.Max(columns.FindIndex(column => column.Orderable), columns.FindIndex(column => column.Name == columnsDefinition?.DefaultSortingColumnName)));

    var defaultSortingDirection = columnsDefinition?.DefaultSortingDirection ?? SortingDirection.Ascending;
    var defaultSortingDirectionValue = defaultSortingDirection == SortingDirection.Ascending ? "asc" : "desc";

    var rowApiUrl = Url.Action(nameof(RowsController.Get), typeof(RowsController).ControllerName(), new { Area = FeatureIds.Lombiq_DataTables });
    var childRowApiUrl = Url.Action(nameof(ChildRowsController.Get), typeof(ChildRowsController).ControllerName(), new { Area = FeatureIds.Lombiq_DataTables });
    var exportApiUrl = Url.Action(nameof(RowsController.Export), typeof(RowsController).ControllerName(), new { Area = FeatureIds.Lombiq_DataTables });

    const string loadingIndicatorElementName = ElementNames.DataTableElementName + "__loadingIndicator";
    const string rowElementWithChildRowVisibleModifier = ElementNames.DataTableRowElementName + "_childRowVisible";
    const string childRowElementName = ElementNames.DataTableElementName + "__childRow";
    const string toggleChildRowButtonElementName = ElementNames.DataTableElementName + "__toggleChildRowButton";
    const string templatesElementName = ElementNames.DataTableElementName + "__templates";

    const string templatePlaceholder = "{{data}}";

    ResourceManager.RegisterResource("script", ResourceNames.Lombiq_DataTables).AtFoot();
    ResourceManager.RegisterResource("script", ResourceNames.JQuery_DataTables_Buttons_Bootstrap4).AtFoot();
    ResourceManager.RegisterResource("stylesheet", ResourceNames.JQuery_DataTables_Bootstrap4);
    ResourceManager.RegisterResource("stylesheet", ResourceNames.JQuery_DataTables_Buttons_Bootstrap4);
}

@await DisplayAsync(await New.Lombiq_DataTable_Resources())

<div class="@dataTableCssClasses">
    @await DisplayAsync(await New.Lombiq_DataTable_Table(
        DataTableId: dataTableId,
        Columns: columns,
        ChildRowsEnabled: childRowsEnabled))
    <div class="@templatesElementName" hidden>
        <div data-id="actions" class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @T["Actions"]
            </button>

            @{
                var values = new
               {
                   area = "OrchardCore.Contents",
                   contentItemId = templatePlaceholder,
                   returnUrl = FullRequestPath,
               };
            }
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item btn-sm" href="@Url.Action("Edit", "Admin", values)">@T["Edit"]</a>
                <a class="dropdown-item btn-sm" href="@Url.Action("Remove", "Admin", values)" itemprop="RemoveUrl UnsafeUrl" data-title="@T["Delete"]" data-message="@T["Are you sure you want to delete this content item?"]">@T["Delete"]</a>
            </div>
        </div>
    </div>
</div>

<script depends-on="@ResourceNames.Lombiq_DataTables" at="Foot">
    ; (function ($) {
        $(function () {
            var templates = {};
            $(".@templatesElementName > div[data-id]").each(function(index, element) {
                templates[element.getAttribute('data-id')] = element.innerHTML.replace(/%7B%7Bdata%7D%7D/g, '@templatePlaceholder');
                element.parentElement.removeChild(element);
            });

            $("#@dataTableId").lombiq_DataTables({
                rowClassName: "@ElementNames.DataTableRowElementName",
                @if (!string.IsNullOrWhiteSpace(queryId))
                {
                    <text>
                        queryId: @Json.Serialize(queryId),
                    </text>
                }
                dataProvider: "@dataProvider",
                rowsApiUrl: "@rowApiUrl",
                export: @Json.Serialize(new
                    {
                        textAll = T["Export All"].Value,
                        textVisible = T["Export Visible"].Value,
                        api = exportApiUrl,
                    }),
                texts: @Json.Serialize(new
                    {
                        yes = T["Yes"].Value,
                        no = T["No"].Value
                    }),
                dataTablesOptions: {
                    @if (pageSize > 0)
                    {
                        <text>
                            pageLength: @pageSize,
                        </text>
                    }
                    language: {
                        processing: "<div class=\"@loadingIndicatorElementName\">@T["Loading..."]</div>"
                    },
                    order: [["@defaultSortingColumnIndex", "@defaultSortingDirectionValue"]],
                    templates: templates
                },
                serverSidePagingEnabled: @(progressiveLoadingEnabled ? "false" : "true"),
                queryStringParametersLocalStorageKey: "@queryStringParametersLocalStorageKey",
                progressiveLoadingOptions: {
                    progressiveLoadingEnabled: @(progressiveLoadingEnabled ? "true" : "false"),
                    @if (progressiveLoadingEnabled)
                    {
                        <text>
                            skip: @skip,
                            batchSize: @pageSize
                        </text>
                    }
                },
                childRowOptions: {
                    childRowsEnabled: @(childRowsEnabled ? "true" : "false"),
                    @if (childRowsEnabled)
                    {
                        <text>
                            asyncLoading: true,
                            apiUrl: "@childRowApiUrl",
                            childRowClassName: "@childRowElementName",
                            toggleChildRowButtonClassName: "@toggleChildRowButtonElementName",
                            childRowVisibleClassName: "@rowElementWithChildRowVisibleModifier",
                        </text>
                    }
                },
                culture: @Json.Serialize(CultureInfo.CurrentUICulture.Name)
            });
        });
    })(jQuery);
</script>
